<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:theme="@style/Theme.Umc_week2_splash"> <!-- 필요한 속성만 남김 -->

        <!-- Splash Activity 정의 -->
        <activity
            android:name=".Splash_Activity"
            android:exported="true"
            android:theme="@style/Theme.Umc_week2_splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- MainActivity 정의 -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name" />

    </application>

</manifest>
